body {
  background-image: url("https://media.istockphoto.com/id/1298623258/vector/pets-cats-and-dogs-seamless-pattern-in-doodle-style.jpg?s=612x612&w=0&k=20&c=aBGESJnmydI7uM1Yu8bWCm0Obf0YBG8sahzR3KJgffY=");
  background-repeat: repeat;

}
.headerBuscador{
  background-color: orange;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;

}
input {
  max-width: 900px;
  margin-bottom: 20px;
}
.tablaMascotas {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
}
table {
  background-color: orange;
}
img{
  border-radius: 20%;
}
th{
  text-align: center;
}
td {
  text-align: center;
  vertical-align: middle;
}